<!-- Include header -->
<%- include('./partials/header.ejs') %> 
<!-- Include navbar -->
<%- include('./partials/navbar.ejs') %>

<div class="container mt-4">
    <h1># Question Guide #</h1>
    <a href="/ask" class="btn btn-info">Questions page</a>
</div>

<%- include('./partials/footer.ejs') %>
